## Bunch of Data

1. Sebutkan perbedaan List, Set, Tuple dan Dictionary!

2. Kapan kita harus menggunakan salah satu dari keempat tipe penyimpanan data tersebut?

3. Apakah tuple bisa dirubah elemen datanya?

4. Sintaks apa yang digunakan untuk menambahkan elemen kedalam suatu list?

5. Mengapa jika kita membuat set, tidak bisa melakukan indexing didalamnya?

jawaban:

1. 	List		: Digunakan untuk menyimpan banyak item dalam satu variabel

	  Tuple		: Seperti list, namun immutable

	  Set		: Himpunan suatu data, tidak memiliki indeks, tidak dapat menampung data yang sama.

	  Dictionary	: Menyimpan banyak data dengan key dan valuenya

2. 	List 		: Ketika membutuhkan indeks, data yang disimpan beragam, dan memungkinkan data berulang

  	Tuple		: Ketika membutuhkan indeks, data yang disimpan beragam, dan memungkinkan data berulang, data tidak bisa diubah

	  Set		: urutan data tidak penting, tidak memungkinkan data sama dalam satu set

	  Dictionary	: menampilkan data seperti map

3. Tuple bersifat immutable yang berarti tidak dapat mengubah data di dalam tuple

4. misal : 	

    
        iniList = ['aci','mirza','ahmad']
		iniList2 = ['victor','ghema','miwan']	
		iniTuple = ('pop','ojoy')
	
		iniList.append('naufal')
		iniList.insert('0, naufal')
		iniList.extend(iniList2)
		iniList.extend(iniTuple)

5. karena set tidak memiliki indeks

In [13]:
list_minuman = ["teh botol", "aqua", "le minerale", "sprite", "fanta", "coca-cola", "nasi goreng"]

#hilangkan elemen nasi goreng karena nasi goreng bukan minuman
list_minuman.remove("nasi goreng")
print(list_minuman)

#urutkan secara descending
list_minuman.sort(reverse = True)
print(list_minuman)

#tampilkan list secara satu persatu menggunakan enumerate()

print(list(enumerate(list_minuman)))
for count,value in enumerate(list_minuman):
  print(f"Minuman ke {count+1} adalah {value}")

['teh botol', 'aqua', 'le minerale', 'sprite', 'fanta', 'coca-cola']
['teh botol', 'sprite', 'le minerale', 'fanta', 'coca-cola', 'aqua']
[(0, 'teh botol'), (1, 'sprite'), (2, 'le minerale'), (3, 'fanta'), (4, 'coca-cola'), (5, 'aqua')]
Minuman ke 1 adalah teh botol
Minuman ke 2 adalah sprite
Minuman ke 3 adalah le minerale
Minuman ke 4 adalah fanta
Minuman ke 5 adalah coca-cola
Minuman ke 6 adalah aqua

expected output:

['teh botol', 'aqua', 'le minerale', 'sprite', 'fanta', 'coca-cola']


['aqua', 'coca-cola', 'fanta', 'le minerale', 'sprite', 'teh botol']


Minuman ke 1 adalah aqua\
Minuman ke 2 adalah coca-cola\
Minuman ke 3 adalah fanta\
Minuman ke 4 adalah le minerale\
Minuman ke 5 adalah sprite\
Minuman ke 6 adalah teh botol

In [23]:
#ubahlah list_minuman menjadi set
set_minuman = set(list_minuman)
print(set_minuman)

set_minuman_mantap = {'coca-cola', 'fanta', 'amer', 'guiness', 'arbal'}
#buatlah gabungan, irisan dan sisa dari irisan (difference) dari set_minuman dan set_minuman_mantap
set_minuman_gab = set_minuman.union(set_minuman_mantap)
print(set_minuman_gab)
set_minuman_iris = set_minuman.intersection(set_minuman_mantap)
print(set_minuman_iris)
set_minuman_sisa = set_minuman.symmetric_difference(set_minuman_mantap)
print(set_minuman_sisa)

{'le minerale', 'teh botol', 'aqua', 'fanta', 'sprite', 'coca-cola'}
{'le minerale', 'teh botol', 'arbal', 'aqua', 'fanta', 'guiness', 'sprite', 'amer', 'coca-cola'}
{'fanta', 'coca-cola'}
{'teh botol', 'sprite', 'amer', 'le minerale', 'guiness', 'arbal', 'aqua'}

expected output=

{'fanta', 'coca-cola', 'le minerale', 'teh botol', 'sprite', 'aqua'}


{'amer', 'fanta', 'coca-cola', 'le minerale', 'arbal', 'teh botol', 'sprite', 'aqua', 'guiness'}\
{'fanta', 'coca-cola'}\
{'le minerale', 'teh botol', 'sprite', 'aqua'}

In [26]:
#ubahlah list_minuman menjadi tuple
tuple_minuman = tuple(list_minuman)
print(tuple_minuman)
#print()

#tampilkan apa saja yang dapat dilakukan dengan tuple
print(dir(tuple_minuman))
print()

#cari berapa jumlah coca-cola dan aqua
print(tuple_minuman.count('coca-cola'))
print(tuple_minuman.count('aqua'))
#print()

('teh botol', 'sprite', 'le minerale', 'fanta', 'coca-cola', 'aqua')
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

1
1

expected output:

('aqua', 'coca-cola', 'fanta', 'le minerale', 'sprite', 'teh botol')


['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']


1\
1

In [44]:
oleh2_jabar = {'Makanan':['Batagor', 'Cilok', 'Dodol', 'Intip'],
               'Minuman':['Bajigur', 'Bandrek', 'Oyen', 'Cendol']}

#tampilkan key dan value dari dictionary
dict_keys = oleh2_jabar.keys()
print(dict_keys)
dict_values = oleh2_jabar.values()
print(dict_values)
#tampilkan semua makanan dan minuman kedalam list
#list_makan = list(oleh2_jabar.values())
#print(list_makan[0])
#print(list_makan[1])
print(oleh2_jabar['Makanan'])
print(oleh2_jabar['Minuman'])
#tambahkan 'Nasi Kalong' ke key makanan dan 'Goyobod' ke minuman
oleh2_jabar['Makanan'].append("Nasi Kalong")
oleh2_jabar['Minuman'].append("Goyobod")
print(oleh2_jabar.items())

dict_keys(['Makanan', 'Minuman'])
dict_values([['Batagor', 'Cilok', 'Dodol', 'Intip'], ['Bajigur', 'Bandrek', 'Oyen', 'Cendol']])
['Batagor', 'Cilok', 'Dodol', 'Intip']
['Bajigur', 'Bandrek', 'Oyen', 'Cendol']
dict_items([('Makanan', ['Batagor', 'Cilok', 'Dodol', 'Intip', 'Nasi Kalong']), ('Minuman', ['Bajigur', 'Bandrek', 'Oyen', 'Cendol', 'Goyobod'])])

expected output:

dict_keys(['Makanan', 'Minuman'])\
dict_values([['Batagor', 'Cilok', 'Dodol', 'Intip'], ['Bajigur', 'Bandrek', 'Oyen', 'Cendol']])

['Batagor', 'Cilok', 'Dodol', 'Intip']\
['Bajigur', 'Bandrek', 'Oyen', 'Cendol']


dict_items([('Makanan', ['Batagor', 'Cilok', 'Dodol', 'Intip', 'Nasi Kalong']), ('Minuman', ['Bajigur', 'Bandrek', 'Oyen', 'Cendol', 'Goyobod'])])