## Soal Tipe Data

1. Jelaskan apa itu tipe data!
2. Ada tipe data apa saja pada Python dan jelaskan!

Tipe Data dalam Python

Tipe data adalah himpunan dari sebuah kumpulan data, yang nantinya akan diterjemahkan oleh kompilator sesuai dengan operasinya.

	Macam-macam :
	- Null type 	: digunakan untuk menyimpan nilai kosong (None)
	- Boolean type	: untuk menyimpan nilai kebenaran dari suatu ekspresi (True, False), (bool)
	- Numeric type 	: untuk menyimpan nilai bilangan 
			 - (int) bilangan bulat
			 - (float) bilangan riil
	- Text type	: untuk menyimpan teks (str)
	- Sequence type	: untuk menyimpan nilai dari data yang berisi lebih dari satu secara berurut dan efisien
			 - (list) memiliki indeks, dimulai dari 0. bersifat mutable
			 - (tuple) bersifat immutable
			 - (range) bernilai urutan angka dimulai dari 0.
	- Mapping type	: tipe data ini dapat memetakan suatu nilai ke nilai lainnya (dict) 
	- Set type 	: sama seperti sequence type, namun tidak diperbolehkan ada perulangan nilai yang sama, dan tidak memerdulikan urutan datanya.
			 - (set) mutable
			 - (frozenset) immutable
*source : academy.dqlab.id, w3schools.cpm/python*

In [4]:
a = 5
b = 3.5
c = 'Halo'
d = True
e = 'True'

#Buatlah code untuk mengidentifikasi tipe data kelima variabel diatas

print('{} bertipe {}'.format(a,type(a)))
print('{} bertipe {}'.format(b,type(b)))
print('{} bertipe {}'.format(c,type(c)))
print('{} bertipe {}'.format(d,type(d)))
print('{} bertipe {}'.format(e,type(e)))

5 bertipe <class 'int'>
3.5 bertipe <class 'float'>
Halo bertipe <class 'str'>
True bertipe <class 'bool'>
True bertipe <class 'str'>

expected output:

5 bertipe <class 'int'>

3.5 bertipe <class 'float'>

'Halo' bertipe <class 'str'>

True bertipe <class 'bool'>

'True' bertipe data <class 'str'>

## Soal Komparasi Variabel

Sebutkan komparasi variabel ada apa saja dan apa guna nya!

Comparison Operators

*   Persamaan 		(==)
*   Pertidaksamaan 		(!=)
*   Lebih besar dari	(>)
*   Lebih kecil dari 	(<)
*   Lebih besar sama dengan	(>=)
*   Lebih kecil sama dengen (<=)

In [9]:
a = 5
b = 3.5
c = 'Halo'
d = 'halo'
e = True
f = 'True'

#Buatlah code untuk komparasi variabel
print(f'{a} sama dengan {b} = {a==b}')
print(f'{c} tidak sama dengan {d} = {c!=d}')
print(f'{e} sama dengan {f} = {e!=f}')

5 sama dengan 3.5 = False
Halo tidak sama dengan halo = True
True sama dengan True = True

expected output:

5 sama dengan 3.5 = False

Halo tidak sama dengan halo = True

True tidak sama dengan True = True

In [15]:
a = 10
b = 10

#buatlah code untuk mencari hex tiap variabel nya dan bandingkan menggunakan 'is' dan 'is not'

print('Hex id {} adalah {}'.format(a,hex(id(a))))
print('Hex id {} adalah {}'.format(b,hex(id(b))))
print('{} is {} = {}'.format(a,b,a is b))
print('{} is not {} = {}'.format(a,b,a is not b))

Hex id 10 adalah 0xa68be0
Hex id 10 adalah 0xa68be0
10 is 10 = True
10 is not 10 = False